<script id="todo-list-template" type="text/x-handlebars-template">
  <div class="js-users-cont">
    <h3>Users:</h3>
    <ul class="js-users"></ul>
    <div class="js-users-count">{{usersCount}}</div>
  </div>
</script>
